langgraph
langsmith
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langchain-text-splitters
chromadb
streamlit
python-dotenv   
pydantic
langchain-tavily
PyMuPDF
langgraph-cli[inmem]
